<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
  * Copyright © Magento, Inc. All rights reserved.
  * See COPYING.txt for license details.
  */
-->
<config>
    <tests>
        <test name="BasicUpgradeTest">
            <annotations>
                <description>The most basic upgrade</description>
            </annotations>
            <fromVersion type="composer">
                <!-- Create project parameters -->
                <package>magento/project-community-edition</package>
                <version>2.3.5</version>
                <path>/magento/magento-ce</path>
                <services>
                    <service name="php">
                        <arguments>
                            <argument name="version">7.3</argument>
                        </arguments>
                    </service>
                    <service name="elasticsearch">
                        <arguments>
                            <argument name="version">7.6-1.2</argument>
                        </arguments>
                    </service>
                </services>
                <after>
                    <!-- Command that run after "composer create-project" go here -->
                    <!-- Sample: Do not import anything. Set up a new environment -->
                    <command container="php" path="bin/magento" name="install" version="7.3">
                        <arguments>
                            <argument key="command">setup:install</argument>
                            <argument key="admin_firstname" name="--admin-firstname" glue="=">Tanel</argument>
                            <argument key="admin_lastname" name="--admin-lastname" glue="=">Raja</argument>
                            <argument key="admin_email" name="--admin-email" glue="=">tanel.raja@vaimo.com</argument>
                            <argument key="admin_user" name="--admin-user" glue="=">admin</argument>
                            <argument key="admin_password" name="--admin-password" glue="=">admin123</argument>
                            <argument key="base_url" name="--base-url" glue="=">http://magento/</argument>
                            <argument key="db_host" name="--db-host" glue="=">db</argument>
                            <argument key="db_name" name="--db-name" glue="=">main</argument>
                            <argument key="db_user" name="--db-user" glue="=">root</argument>
                            <argument key="currency" name="--currency" glue="=">USD</argument>
                            <argument key="timezone" name="--timezone" glue="=">America/Chicago</argument>
                            <argument key="language" name="--language" glue="=">en_US</argument>
                            <argument key="use_rewrites" name="--use-rewrites" glue="=">1</argument>
                        </arguments>
                    </command>
                    <command container="php" name="set_indexer_mode" path="bin/magento" version="7.3">
                        <arguments>
                            <argument key="command">indexer:set-mode</argument>
                            <argument key="mode">schedule</argument>
                        </arguments>
                    </command>
                    <command container="php" name="set_deploy_mode" path="bin/magento" version="7.3">
                        <arguments>
                            <argument key="command">deploy:mode:set</argument>
                            <argument key="mode">production</argument>
                        </arguments>
                    </command>
                    <command container="php" name="magento_account_sharing" path="bin/magento" version="7.3">
                        <arguments>
                            <argument key="command">config:set</argument>
                            <argument key="path" name="admin/security/admin_account_sharing">1</argument>
                        </arguments>
                    </command>
                    <command container="php" name="disable_secret_key" path="bin/magento" version="7.3">
                        <arguments>
                            <argument key="command">config:set</argument>
                            <argument key="path" name="admin/security/use_form_key">0</argument>
                        </arguments>
                    </command>
                    <command container="php" name="mftf_reset" path="vendor/bin/mftf" version="7.3">
                        <arguments>
                            <argument key="command">reset</argument>
                            <argument key="hard">--hard</argument>
                        </arguments>
                    </command>
                    <command container="php" name="mftf_build" path="vendor/bin/mftf" version="7.3">
                        <arguments>
                            <argument key="command">build:project</argument>
                        </arguments>
                    </command>
                </after>
            </fromVersion>
            <toVersion type="git">
                <repo>git@github.com:magento-borg/magento2ce</repo>
                <branch>MC-12345</branch>
                <services>
                    <service name="php">
                        <arguments>
                            <argument name="version">7.4</argument>
                        </arguments>
                    </service>
                </services>
            </toVersion>
        </test>
    </tests>
</config>

